# sequence generator
* refactor frame generator

In [54]:
import pandas as pd
import os
import sys

In [55]:
frame_dir = "../frames/"
csv_ = "../NextStartingPoint.csv"
DL_class_data = "../DeepLearningClassData.csv"

In [71]:
nxt_start_point = pd.read_csv(csv_)
dldf = pd.read_csv(DL_class_data)
nxt_start_point

    Subject  Trial
0         2      1
1         2      2
2         4      1
3         4      2
4         6      1
5         6      2
6         8      2
7        12      1
8        12      2
9        13      1
10       13      2
11       23      1
12       23      2
13       25      1
14       30      1
15       31      1

In [83]:
subjects = [s for s in os.listdir(frame_dir)]
frame_df = pd.DataFrame(columns=["Subject", "Trial", "Heart Rate", "Respiratory Rate"])

columns = dldf.columns
print(columns)
i = 0
for index, row in nxt_start_point.iterrows():
    subject, trial = row['Subject'], row['Trial']
    
    data = dldf[dldf['SUBJECT'] == subject]
    
    subj, t1_hrate, t1_resprate, t2_hrate, t2_resprate = [list(data[col])[0] for col in columns]
    if int(trial) == 1:
        row = [subject, trial, t1_hrate, t1_resprate]
    
    else:
        row = [int(subject), int(trial), t2_hrate, t2_resprate]
    
    frame_df.loc[i] = row
    i+=1
    
frame_df

Index(['SUBJECT', 'Trial 1 Heart Rate (beats per minute)',
       'Trial 1 Respiratory Rate (breaths per minute)',
       'Trial 2 Heart Rate (beats per minute)',
       'Trial 2 Respiratory Rate (beats per minute)'],
      dtype='object')

    Subject  Trial  Heart Rate  Respiratory Rate
0       2.0    1.0       100.0              20.0
1       2.0    2.0       128.0              26.0
2       4.0    1.0        56.0              10.0
3       4.0    2.0        72.0              18.0
4       6.0    1.0        78.0               7.0
5       6.0    2.0        94.0              20.0
6       8.0    2.0        84.0              12.0
7      12.0    1.0        74.0               8.0
8      12.0    2.0       102.0              18.0
9      13.0    1.0        80.0              12.0
10     13.0    2.0        82.0              16.0
11     23.0    1.0        64.0              18.0
12     23.0    2.0       116.0              32.0
13     25.0    1.0        80.0              20.0
14     30.0    1.0        60.0              10.0
15     31.0    1.0        54.0              18.0

In [51]:
nxt_start_point

    Subject  Trial
0         2      1
1         2      2
2         4      1
3         4      2
4         6      1
5         6      2
6         8      2
7        12      1
8        12      2
9        13      1
10       13      2
11       23      1
12       23      2
13       25      1
14       30      1
15       31      1

In [84]:
subj = pd.read_csv("../subject_data.csv")

In [85]:
subj

    Unnamed: 0  Subject  Trial  Heart Rate  Respiratory Rate
0            0      2.0    1.0       100.0              20.0
1            1      2.0    2.0       128.0              26.0
2            2      4.0    1.0        56.0              10.0
3            3      4.0    2.0        72.0              18.0
4            4      6.0    1.0        78.0               7.0
5            5      6.0    2.0        94.0              20.0
6            6      8.0    2.0        84.0              12.0
7            7     12.0    1.0        74.0               8.0
8            8     12.0    2.0       102.0              18.0
9            9     13.0    1.0        80.0              12.0
10          10     13.0    2.0        82.0              16.0
11          11     23.0    1.0        64.0              18.0
12          12     23.0    2.0       116.0              32.0
13          13     25.0    1.0        80.0              20.0
14          14     30.0    1.0        60.0              10.0
15          15     31.0    1.0        54.0              18.0

In [87]:
list(subj['Subject'])

[2.0,
 2.0,
 4.0,
 4.0,
 6.0,
 6.0,
 8.0,
 12.0,
 12.0,
 13.0,
 13.0,
 23.0,
 23.0,
 25.0,
 30.0,
 31.0]

In [88]:
list(set(subj['Subject']))

[2.0, 4.0, 6.0, 8.0, 12.0, 13.0, 23.0, 25.0, 30.0, 31.0]

In [93]:
import random
a = list(set(subj['Subject']))

In [102]:
print(a,random.shuffle(a))
random.shuffle(a)
a

[2.0, 13.0, 23.0, 12.0, 8.0, 25.0, 31.0, 6.0, 4.0, 30.0] None

[25.0, 8.0, 12.0, 4.0, 23.0, 31.0, 6.0, 30.0, 2.0, 13.0]

In [91]:
subj

    Unnamed: 0  Subject  Trial  Heart Rate  Respiratory Rate
0            0      2.0    1.0       100.0              20.0
1            1      2.0    2.0       128.0              26.0
2            2      4.0    1.0        56.0              10.0
3            3      4.0    2.0        72.0              18.0
4            4      6.0    1.0        78.0               7.0
5            5      6.0    2.0        94.0              20.0
6            6      8.0    2.0        84.0              12.0
7            7     12.0    1.0        74.0               8.0
8            8     12.0    2.0       102.0              18.0
9            9     13.0    1.0        80.0              12.0
10          10     13.0    2.0        82.0              16.0
11          11     23.0    1.0        64.0              18.0
12          12     23.0    2.0       116.0              32.0
13          13     25.0    1.0        80.0              20.0
14          14     30.0    1.0        60.0              10.0
15          15     31.0    1.0        54.0              18.0

In [104]:
14*0.2

2.8000000000000003

In [105]:
0.2*len(a)

2.0

In [107]:
subjects = subj['Subject']
subjects = list(set(subjects))
random.shuffle(subjects)
test_samples = subjects[:int(len(subjects)* 0.2)]

In [108]:
test_samples

[23.0, 4.0]

In [112]:
subj[subj['Subject'].isin(test_samples)]

    Unnamed: 0  Subject  Trial  Heart Rate  Respiratory Rate
2            2      4.0    1.0        56.0              10.0
3            3      4.0    2.0        72.0              18.0
11          11     23.0    1.0        64.0              18.0
12          12     23.0    2.0       116.0              32.0